.hero {
  background-image: url('../../assets/image.png');
  background-size: cover;
  padding-top: 102px;
  padding-bottom: 20px;
  color: $white;
  text-align: center;

  .hero-content {
    padding: 0 1rem;
    
    p {
      margin: 1rem 0;
    }
  }
  
  .theme-button-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 400px;
    margin: auto;
    padding-top: 30px; 

    .theme-button{
      background-color: white;
      width: 48%;
    }
  }
}
