.hero {
  background-image: url('../../assets/image.png');
  padding-top: 102px;
  padding-bottom: 20px;
  color: $white;
  text-align: center;
  height: 374px;
  
  .theme-button-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 400px;
    margin: auto;
    padding-top: 30px; 

    .theme-button{
      background-color: white;
      width: 48%;
    }
  }
}
